body { color: white;
    margin: 0px; padding: 0px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .row { 
    width: 100%;
    }
    .row:after {
    content:'';
    display: table;
    clear: both;
    } 
    .column {
    float: left;  
    margin: 2px 2px 30px 0px;
    }
    td {
    vertical-align:top;
    }
    .table-data {
    width: 100%;
    border: 1px solid rgb(254, 254, 254);
    border-color: #dbdbdb;
    
        
    }  
    .table-data tr:nth-child(even) {
    background-color: #989595;
    }  
    .table-data td {
    padding: 10px;   
    } 
    input,textarea,select { 
    border: 2px solid #ffffff; 
    border-radius: 8px;  
    } 
    input:focus,textarea:focus {  
    background-color: #b6c4da;
    }
label {
    font-weight: bold;
    }
.tajuk {
    font-size: 30px;
}
.fancy {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nota {
    font-size: small;
    color: rgb(191, 223, 191);
}
.imej {
    border-radius: 10px;
    border:2px solid #fff;
    filter: drop-shadow(5px 5px 3px #ffffff);
}
.mainmenu {
    display: block;
    width: 125px;
    height: 25px;
    background: #6a7079;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 25px;
    box-shadow: #ffffff 5px 5px 10px 0;
    text-decoration: none;
}
.mainmenu:hover {
background: linear-gradient(#ffffff, #ffffff);
}   
.button {
    background: #f7f7f7;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    box-shadow:  #9d9a9a 5px 5px 10px 0;
    text-decoration: none;   
}   
.button:hover { 
background: linear-gradient(#f1f1f1, #000000); 
}
/* Untuk menu mendatatar sahaja*/

div.hmenu {
    float:left; width:100%;
    position:relative;
}
ul.hmenu, .hmenu ul{
    position:relative; left:15%;
    margin:0; padding:0;
    list-style-type:none;
    height:30px;
    text-align: center;
}
.hmenu li{
    float:left; width:150px;
    position:relative;
}
.hmenu li ul{
    display:none; position:absolute;
    left:0; top:30px;
}
.hmenu li:hover ul {
    display:block;
}